.cart__container {
  width: 90%;
  max-width: 35rem;
  margin: auto;
}

.cart__product-divider {
  border: none;
  background-color: #e4e4e4;
  height: 1px;
}

.cart__product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cart__product-img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  margin-right: 1rem;
  border-radius: 3px;
}

.cart__product-title {
  margin: 0 0 0.5rem;
}

.cart__product-quantity {
  display: block;
  margin: 0 0 0.5rem;
}

.cart__product-delete {
  color: #d0312d;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  border-bottom: solid 1px transparent;
}

.cart__product-delete:hover {
  border-bottom-color: #d0312d;
}

.cart__product-price {
  margin: 0;
  margin-left: auto;
}
