.product-form {
  max-width: 90%;
  width: 20rem;
  padding: 2rem;
  margin: auto;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
  width: 100%;
}

.form-control label {
  margin-bottom: 0.25rem;
}

.form-control input {
  border: 1px solid rebeccapurple;
  font-family: inherit;
  color: inherit;
  padding: 0.5rem;
  border-radius: 2px;
}

button {
  background-color: white;
  cursor: pointer;
  color: rebeccapurple;
  border: 1px solid rebeccapurple;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  font-family: inherit;
  font-weight: 500;
}

button:hover {
  background-color: rebeccapurple;
  color: white;
}
