@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  color: #212121;
}

.centered {
  text-align: center;
}

.d-inline {
  display: inline;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: auto;
}

.products-container {
  padding: 1.5rem 0 3rem;
}

.main-header {
  min-height: 3.5rem;
  background: rebeccapurple;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.main-header__item a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem 1.5rem;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: pink;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid rebeccapurple;
  color: rebeccapurple;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
}

a.btn {
  text-decoration: none;
}

.btn:hover,
.btn:active {
  background-color: rebeccapurple;
  color: white;
}

@media (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
