.product-item {
  border-radius: 6px;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__image {
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

/* Product detail styles */

.product-detail__image {
  max-width: 350px;
}
