.product-form {
  max-width: 90%;
  width: 20rem;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control input,
.form-control label {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid rebeccapurple;
  font-family: inherit;
  border-radius: 2px;
}

button {
  background-color: white;
  cursor: pointer;
  color: rebeccapurple;
  border: 1px solid rebeccapurple;
  border-radius: 3px;
}

button:hover {
  background-color: rebeccapurple;
  color: white;
}
